{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3>A Passionate Code Enthusiast and BCA Student</h3>
        <p>
          Hello there! I'm thrilled to introduce myself – a dedicated college student with an insatiable curiosity for the world of coding and an unwavering passion for learning new programming skills. My journey as a Bachelor of Computer Applications (BCA) student has been nothing short of exhilarating as I dive into the dynamic realm of technology.</p>
        <p>From a young age, I've been captivated by the power of programming. What began as a mere fascination quickly evolved into a full-fledged ardor, driving me to explore the endless possibilities that lines of code can create. </p>
        <p>In a world where innovation is driven by lines of code, I am thrilled to be part of the generation that can shape the future. Every bug I fix, every program I optimize, and every new programming skill I acquire brings me one step closer to realizing my dreams. And I can't wait to see where this exciting voyage takes me next.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}